#Ignore checkpoints folder, solely used for storing checkpoint to disk locally
checkpoints/

#Ignore the secrets folder, obviously
secrets/

.env

__pycache__/
.pytest_cache/

tests/__pycache__/

outputs/
output/